
/*CSS to be pasted in icon.css file*/

svg.account-settings{
  height:30px;
  width:30px;
  padding:0.5px;
  fill: none;
  stroke: blue;
  stroke-width: 1.5px;
  stroke-linecap: round;
  stroke-linejoin:round;
  stroke-miterlimit: 10;
}

polygon.no-stroke{
  stroke-width:0px;
  fill:blue;
}
