@import url("https://fonts.googleapis.com/css?family=Barlow:400,600");
.app-global-header ul, .app-global-header menu {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
	display: none;
}

:root {
	--dark-grey: #091e42;
	--dark-grey1: #273450;
	--dark-grey2: #344563;
	--grey1: #7C8492;
	--grey2: #97A0AF;
	--grey: #97A0AF;
	--grey3: #B5BDCC;
	--light-grey: #B5BDCC;
	--grey4: #DADFE7;
	--grey5: #ebecf0;
	--grey6: #f4f5f7;
	--grey7: #fafbfc;
	--white: #fff;
	--bp-blue-dark: #226ed7;
	--bp-blue: #3384ff;
	--bp-blue-hover: #4C93FF;
	--bp-blue-light: #deebff;
	--bp-blue-light2: #eff6ff;
	--red-dark: #D02900;
	--red: #DE350B;
	--red-hover: #F14216;
	--coral-dark: #D24D4D;
	--coral: #EB5757;
	--coral-hover: #FF6969;
	--coral-light: #FFB2B2;
	--coral-light2: #FFE8E8;
	--green-dark: #0aa26f;
	--green: #3AC78C;
	--green-hover: #57D9A3;
	--green-light: #EBFFF5;
	--cyan-dark: #00a3bf;
	--cyan: #00c7e5;
	--cyan-hover: #07D0EE;
	--cyan-light: #cff9ff;
	--cyan-light2: #EFFDFF;
	--orange-dark: #f18b12;
	--orange: #ff9920;
	--orange-hover: #FFA53B;
	--orange-light: #ffe0bb;
	--yellow-dark: #ffab00;
	--yellow: #ffc400;
	--yellow-hover: #FFCE29;
	--yellow-light: #fff0b2;
	--purple-dark: #6554c0;
	--purple: #8777d9;
	--purple-hover: #9A8AE9;
	--purple-light: #eae6ff;
	--light-grey1: #dfe1e5 ;
	--light-grey2: #ebecf0 ;
	--light-grey3: #f4f5f7 ;
	--light-grey4: #fafbfc ;
	--light-blue: #eff6ff ;
}

html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "pnum";
	font-feature-settings: "pnum";
	font-variant-numeric: proportional-nums;
}

.app-global-header a {
	color: var(--dark-grey1);
	text-decoration: none;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body, input {
	font-family: "Barlow", sans-serif;
	font-size: 14px;
}

/*
* New Global Header Styling : Start here
*/
/*
* down arrow mixing for drop down use
*/
.app-global-header {
	background-color: #0A1B38;
	height: 50px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	padding: 0 20px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	position: relative;
}

.app-global-header a:hover {
	text-decoration: none;
}

@media (min-width: 768px) {
	.app-global-header {
		background-color: #273450;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.app-global-header img[src$='.svg'] {
		-webkit-touch-callout: none;
		/* iOS Safari */
		-webkit-user-select: none;
		/* Safari */
		/* Konqueror HTML */
		-moz-user-select: none;
		/* Firefox */
		-ms-user-select: none;
		/* Internet Explorer/Edge */
		user-select: none;
		/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	}
}

.app-global-header.hide-on-scroll, .app-global-header.sticky {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1080;
	opacity: 1;
	-webkit-transition: top ease .5s, opacity ease .5s;
	transition: top ease .5s, opacity ease .5s;
}

.app-global-header.hide-on-scroll.hide-now, .app-global-header.sticky.hide-now {
	top: -50px;
	opacity: 0;
}

.app-global-header .app-main-logo {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-item-align: start;
	align-self: flex-start;
	position: relative;
	z-index: 99;
	width: 100%;
	background-color: #091E42;
}

@media (min-width: 768px) {
	.app-global-header .app-main-logo {
		width: auto;
		background-color: transparent;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 32px;
		flex: 0 0 32px;
		margin-right: 2%;
		-ms-flex-item-align: unset;
		align-self: unset;
	}
}

@media (min-width: 1366px) {
	.app-global-header .app-main-logo {
		margin-right: 90px;
	}
}

@media (min-width: 2000px) {
	.app-global-header .app-main-logo {
		margin-right: 120px;
	}
}

.app-global-header .app-main-logo .main-logo {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.app-global-header .app-main-logo .main-logo img {
	width: 32px;
	height: 32px;
}

.app-global-header .app-main-logo h1 {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	display: none;
	color: #3384FF;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 20px;
	letter-spacing: 0.5px;
}

.app-global-header .nav-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 100%;
}

@media screen and (max-width: 767px) {
	.app-global-header .nav-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
		-ms-flex-pack: flex-start;
		-webkit-box-pack: start;
		justify-content: flex-start;
		width: 100%;
		position: fixed;
		margin-top: 50px;
		top: -100%;
		overflow-y: scroll;
		overflow-x: hidden;
		opacity: 0;
		-webkit-transition: top ease-in-out .5s, opacity ease .2s;
		transition: top ease-in-out .5s, opacity ease .2s;
		-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		background-color: #091E42;
		padding-bottom: 51px;
	}
	.app-global-header .nav-container > nav, .app-global-header .nav-container > form {
		opacity: 0;
		-webkit-transition: opacity .5s ease .3s;
		transition: opacity .5s ease .3s;
	}
	.globalSearchElement {
       position:absolute;
       left:0px;
       right:0px;
    }
    .hamburger-icon .text {
        position:relative;
        left:-44px;
        color:var(--white);
    }
}

@media (min-width: 768px) {
	.app-global-header .nav-container {
		background-color: transparent;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		height: 100%;
		right: 0;
		position: relative;
		height: 50px;
		margin-top: 0;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding-bottom: 0;
	}
}

.app-global-header #HamburgerToggle {
	display: none;
}

.app-global-header #HamburgerToggle:checked ~ .hamburger-icon {
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	justify-content: center;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	top: 15px;
}

.app-global-header #HamburgerToggle:checked ~ .hamburger-icon .bun-top {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
}

.app-global-header #HamburgerToggle:checked ~ .hamburger-icon .ham {
	opacity: 0;
}

.app-global-header #HamburgerToggle:checked ~ .hamburger-icon .bun-bottom {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 50%;
}

.app-global-header #HamburgerToggle:checked ~ .hamburger-icon .text {
	opacity: 0;
	right: 36px;
}

.app-global-header #HamburgerToggle:checked ~ .nav-container {
	top: 0;
	opacity: 1;
}

.app-global-header #HamburgerToggle:checked ~ .nav-container > nav, .app-global-header #HamburgerToggle:checked ~ .nav-container > form {
	opacity: 1;
}

.app-global-header .hamburger-icon {
	position: fixed;
	right: 14px;
	top: 16px;
	z-index: 999;
	cursor: pointer;
	width: 23px;
	height: 19px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-ms-flex-pack: space-between;
	-webkit-box-pack: justify;
	justify-content: space-between;
}

.app-global-header .hamburger-icon span:not(.text) {
	width: 100%;
	height: 3px;
	background-color: #fff;
	display: inline-block;
	-webkit-transition: opacity ease .4s, top ease .3s, -webkit-transform ease .3s;
	transition: opacity ease .4s, top ease .3s, -webkit-transform ease .3s;
	transition: transform ease .3s, opacity ease .4s, top ease .3s;
	transition: transform ease .3s, opacity ease .4s, top ease .3s, -webkit-transform ease .3s;
	position: absolute;
}

.app-global-header .hamburger-icon span:not(.text).bun-top {
	top: 0;
}

.app-global-header .hamburger-icon span:not(.text).ham {
	top: 8px;
}

.app-global-header .hamburger-icon span:not(.text).bun-bottom {
	bottom: 0;
}

.app-global-header .hamburger-icon text {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.5px;
	position: relative;
	right: 50px;
	top: 3px;
	opacity: 1;
	-webkit-transition: opacity .2s ease;
	transition: opacity .2s ease;
}

@media (min-width: 768px) {
	.app-global-header .hamburger-icon {
		display: none;
	}
}

.app-global-header .app-main-nav {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	background-color: #0A1B38;
}

@media (min-width: 768px) {
	.app-global-header .app-main-nav {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin-left: 0;
		background-color: transparent;
		margin-right: auto;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		height: 100%;
		min-width: 320px;
	}
}

@media (min-width: 1200px) {
	.app-global-header .app-main-nav {
		-webkit-box-flex: 1;
		-ms-flex: 1 0;
		flex: 1 0;
	}
}

@media (min-width: 2000px) {
	.app-global-header .app-main-nav {
		-webkit-box-flex: 0;
		-ms-flex: 0;
		flex: 0;
		margin-right: 90px;
	}
}

.app-global-header .app-main-nav .app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu a {
	padding-left: 20px;
}

.app-global-header .app-main-nav .app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu a:last-of-type {
	border-bottom: none;
}

@media (min-width: 768px) {
	.app-global-header .app-main-nav .app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu a {
		padding-left: 0;
	}
}

.app-global-header .app-secondary-nav {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
}

@media (min-width: 768px) {
	.app-global-header .app-secondary-nav {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		margin-right: 10px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-ms-flex-pack: space-between;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
	}
}

@media (min-width: 1366px) {
	.app-global-header .app-secondary-nav {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 40%;
		flex: 0 1 40%;
	}
}

@media (min-width: 1600px) {
	.app-global-header .app-secondary-nav {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 45%;
		flex: 0 1 45%;
	}
}

@media (min-width: 1750px) {
	.app-global-header .app-secondary-nav {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 48%;
		flex: 0 1 48%;
	}
}

@media (min-width: 2000px) {
	.app-global-header .app-secondary-nav {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
	}
}

.app-global-header .app-secondary-nav #AppDrawer {
	display: none;
}

.app-global-header .app-secondary-nav #AppDrawer:checked ~ .drawer-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.app-global-header .app-secondary-nav #AppDrawer + label {
	margin-left: auto;
	margin-right: 0;
	margin-bottom: 0;
}

.app-global-header .app-add-menu #AppAddMenu + label {
	margin-bottom: 0;
}

.app-global-header .app-secondary-nav .drawer-menu-icon img {
	width: 22px;
}

@media (min-width: 768px) {
	.app-global-header .app-secondary-nav .drawer-menu-icon {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		cursor: pointer;
	}
}

.app-global-header label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
}

.app-global-header img {
	width: 22px;
	margin: 0;
	height: 22px;
	line-height: 100%;
	padding: 0;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

.app-search-form {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	margin: 0 20px;
	margin-top: 20px;
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	background-color: #0A1B38;
	position: relative;
}

@media (min-width: 768px) {
	.app-search-form {
		background-color: transparent;
		margin: 0;
		margin-top: 0;
		-webkit-box-flex: 1;
		-ms-flex: 1 0;
		flex: 1 0;
		max-width: 199px;
		-webkit-box-ordinal-group: unset;
		-ms-flex-order: unset;
		order: unset;
	}
}

@media (min-width: 800px) {
	.app-search-form {
		max-width: 250px;
	}
}

@media (min-width: 1366px) {
	.app-search-form {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		max-width: 400px;
	}
}

/*
* Firefox related issue only
*/
@-moz-document url-prefix() {
	.app-search-form {
		max-width: 250px !important;
	}
	.app-search-form .search-field.active .search-input[type="search"] {
		height: 34px;
	}
	.app-search-form .search-field.active .search-button img {
		margin-top: 6px;
	}
	.honda-invoce-model .searchResultOverlay {
		margin-top: 30px !important;
		padding-top: 0px !important;
	}
}


/* @media (max-width: 465px) and (min-width: 320px) {
	.BP_GlobalSearch_angucomplete-dropdown {
		width: 100% !important;
		max-width: none !important;
		min-width: 180px !important;
	}
} */

@media (min-width: 1388px) {
	.app-search-form {
		min-width: 18%;
	}
}

.app-search-form .search-field {
	position: relative;
	padding: 0;
	margin: 0;
	height: 44px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #4C5D7D;
	border-radius: 4px;
	border: none;
}

@media (min-width: 768px) {
	.app-search-form .search-field {
		height: 34px;
	}
}

.app-search-form .search-field .close-search, .app-search-form .search-field .close-overlay {
	position: absolute;
	right: 0;
	z-index: -1;
	top: 0;
	opacity: 0;
}

.app-search-form .search-input[type=search] {
	position: relative;
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 15px;
	padding-right: 45px;
	height: auto;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
}

@media (min-width: 768px) {
	.app-search-form .search-input[type=search] {
		font-size: 14px;
		line-height: 20px;
		padding-right: 36px;
	}
}

@media (min-width: 1200px) {
	.app-search-form .search-input[type=search] {
		padding-right: 40px;
	}
}

.app-search-form .search-input[type=search]:hover, .app-search-form .search-input[type=search]:focus {
	-webkit-transform: none;
	transform: none;
}

.app-search-form .search-input[type=search]::-webkit-input-placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: .7;
	/* Firefox */
}

.app-search-form .search-input[type=search]:-ms-input-placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: .7;
	/* Firefox */
}

.app-search-form .search-input[type=search]::-ms-input-placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: .7;
	/* Firefox */
}

.app-search-form .search-input[type=search]::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: #fff;
	opacity: .7;
	/* Firefox */
}

.app-search-form .search-input[type=search]:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #fff;
	opacity: .7;
	/* Firefox */
}

.app-search-form .search-input[type=search]::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #fff;
	opacity: .7;
	/* Firefox */
}

.app-search-form .search-button {
	position: absolute;
	left: auto;
	right: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	background-color: transparent;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	padding-right: 15px;
	-webkit-transition: all ease .6s;
	transition: all ease .6s;
}

.app-search-form .search-button:hover img {
	-webkit-transition: all ease .6s;
	transition: all ease .6s;
	-webkit-filter: brightness(109%);
	filter: brightness(109%);
}

.app-search-form .search-button img {
	width: 20px;
}

.app-search-form .search-suggestions {
	background-color: #fff;
	position: absolute;
	width: 100%;
	right: 0;
	top: 50px;
	height: 0;
	opacity: 0;
	padding: 20px;
	-webkit-box-shadow: 0 0 1px rgba(76, 86, 103, 0.25), 0 2px 18px rgba(31, 37, 50, 0.32);
	box-shadow: 0 0 1px rgba(76, 86, 103, 0.25), 0 2px 18px rgba(31, 37, 50, 0.32);
	-webkit-transition: opacity ease .2s, height ease .2s .3s, top ease .2s .2s;
	transition: opacity ease .2s, height ease .2s .3s, top ease .2s .2s;
}

.app-search-form .search-suggestions ul, .app-search-form .search-suggestions a {
	opacity: 0;
	-webkit-transition: opacity .3s ease .3s;
	transition: opacity .3s ease .3s;
}

@media (min-width: 768px) {
	.app-search-form .search-suggestions {
		width: 200%;
	}
}

.app-search-form .search-suggestions.active {
	height: auto;
	opacity: 1;
	top: 42px;
	-webkit-transition: width ease .4s, opacity ease .6s;
	transition: width ease .4s, opacity ease .6s;
	width: 100%;
	z-index: 99;
}

@media (min-width: 768px) {
	.app-search-form .search-suggestions.active {
		width: 600px;
	}
}

.app-search-form .search-suggestions.active ul, .app-search-form .search-suggestions.active a {
	opacity: 1;
	-webkit-transition: opacity ease .05s;
	transition: opacity ease .05s;
}

@media (min-width: 768px) {
	.app-search-form .search-field.active {
		position: relative;
	}
	.app-search-form .search-field.active .search-input[type=search] {
		position: absolute;
		width: 600px;
		background-color: #fff;
		color: var(--dark-grey1);
		right: 0;
		-webkit-transition: width ease .1s;
		transition: width ease .1s;
		z-index: 99;
		padding: 5px 15px 5px 36px;
		border-radius: 4px;
	}
	.app-search-form .search-field.active .search-input[type=search]::-webkit-input-placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: var(--dark-grey1);
		/* Firefox */
	}
	.app-search-form .search-field.active .search-input[type=search]:-ms-input-placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: var(--dark-grey1);
		/* Firefox */
	}
	.app-search-form .search-field.active .search-input[type=search]::-ms-input-placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: var(--dark-grey1);
		/* Firefox */
	}
	.app-search-form .search-field.active .search-input[type=search]::placeholder {
		/* Chrome, Firefox, Opera, Safari 10.1+ */
		color: var(--dark-grey1);
		/* Firefox */
	}
	.app-search-form .search-field.active .search-input[type=search]:-ms-input-placeholder {
		/* Internet Explorer 10-11 */
		color: var(--dark-grey1);
		/* Firefox */
	}
	.app-search-form .search-field.active .search-input[type=search]::-ms-input-placeholder {
		/* Microsoft Edge */
		color: var(--dark-grey1);
		/* Firefox */
	}
	
	.app-search-form .search-field.active .search-button img {
		-webkit-filter: invert(55%) sepia(7%) saturate(718%) hue-rotate(180deg) brightness(93%) contrast(84%);
		filter: invert(55%) sepia(7%) saturate(718%) hue-rotate(180deg) brightness(93%) contrast(84%);
	}
	.app-search-form .search-field.active .close-search {
		z-index: 101;
		opacity: 1;
		right: 10px;
		top: 9px;
		font-size: 19px;
		font-weight: 600;
		-webkit-transition: opacity ease .1s .1s;
		transition: opacity ease .1s .1s;
		text-indent: -9999px;
		width: 12px;
		height: 12px;
	}
	.app-search-form .search-field.active .close-search:before, .app-search-form .search-field.active .close-search:after {
		content: '';
		position: absolute;
		width: 1px;
		border-radius: .5px;
		background-color: var(--bp-blue);
		height: 12px;
		text-indent: unset;
		right: 6px;
	}
	.app-search-form .search-field.active .close-search:before {
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.app-search-form .search-field.active .close-search:after {
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}
	
	.app-search-form .search-field.active .BP-New-Header-Keyword-Container {
		position: absolute;
		z-index: 100;
		right: 500px;
		width: 80px;
	}
}

.app-add-menu {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
}

@media (min-width: 768px) {
	.app-add-menu {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
	.app-add-menu.app-menu-toggle-icon .drop-menu {
		right: 10px;
	}
}

.app-setting-nav {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
}

@media (min-width: 768px) {
	.app-setting-nav .app-menu-toggle-icon .drop-menu {
		right: 5px;
	}
}

@media screen and (max-width: 767px) {
	.app-setting-nav .icon-menu li:not(.app-menu-toggle-icon) a {
		padding: 12px 20px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	.app-setting-nav .icon-menu li:not(.app-menu-toggle-icon) a span {
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		margin-left: 20px;
	}
	.app-global-header .search-field .BP-New-Header-Keyword-Container .BP-New-Header-keyword {
		margin-top: 10px;
		margin-left: 33px;
	}
	.app-search-form .search-field.active .BP-New-Header-Keyword-Container {
		position: absolute;
		z-index: 100;
		right: auto;
		width: 80px;
	}
	/* .app-global-header .BP_GlobalSearch_angucomplete-dropdown-top {
		min-width: 368px !important;
	} */
}   

@media (min-width: 768px) {
	.app-setting-nav {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100px;
		flex: 0 0 100px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 100%;
	}
	.app-setting-nav label {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		width: 36px;
	}
	.app-setting-nav .app-drop-menu-toggle:checked ~ .drop-menu {
		top: 41px !important;
	}
	.app-setting-nav .app-drop-menu-toggle:checked ~ label:after {
		border-top-color: #3384FF;
	}
	.app-setting-nav .icon-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		padding-left: 10px;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row nowrap;
		flex-flow: row nowrap;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
	}
	.app-setting-nav .icon-menu li {
		height: 33px;
		width: 36px;
		background-color: #4C5D7D;
		border-radius: 4px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.app-setting-nav .icon-menu li:hover {
		background-color: var(--darkest-grey);
	}
	.app-setting-nav .icon-menu li:hover img {
		-webkit-filter: invert(60%) sepia(59%) saturate(4399%) hue-rotate(197deg) brightness(102%) contrast(103%);
		filter: invert(60%) sepia(59%) saturate(4399%) hue-rotate(197deg) brightness(102%) contrast(103%);
	}
	.app-setting-nav .icon-menu li a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
	}
	.app-setting-nav .icon-menu li img {
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-ms-flex-item-align: center;
		align-self: center;
	}
	.app-setting-nav .icon-menu li:not(:last-child) {
		margin-right: 10px;
	}
	.app-setting-nav .icon-menu .app-menu-toggle-icon {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 42px;
		flex: 1 0 42px;
	}
	.app-setting-nav .icon-menu li.app-menu-toggle-icon label {
		padding-left: 0px;
		padding-right: 0px;
		margin: 0;
	}
	.app-setting-nav .icon-menu .app-menu-toggle-icon label img {
		margin-left: -14px;
	}
	.app-setting-nav .icon-menu .app-menu-toggle-icon label:hover:after {
		border-top-color: #3384FF;
	}
	.app-setting-nav .icon-menu li.app-menu-toggle-icon label:after {
		right: 4px;
	}
	.app-setting-nav .icon-menu .app-menu-toggle-icon:checked label:after {
		border-top-color: #3384FF;
	}
	.app-setting-nav img {
		width: 22px;
	}
}

/* h3 */
.app-global-header h3 {
	font-size: 18px;
	line-height: 25px;
	font-weight: 600;
	padding-bottom: 10px;
	color: #273450;
	display: none;
}

@media (min-width: 768px) {
	.app-global-header h3 {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
}

/* menu items */
.menu, .sec-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
}

@media (min-width: 768px) {
	.menu, .sec-menu {
		-ms-flex-pack: flex-start;
		-webkit-box-pack: start;
		justify-content: flex-start;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
	}
}

.menu li, .sec-menu li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

@media (min-width: 768px) {
	.menu li, .sec-menu li {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		height: 100%;
		border-bottom: none;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
}

.menu li > a, .menu li > label, .sec-menu li > a, .sec-menu li > label {
	color: #fff;
	cursor: pointer;
	padding: 15px 20px;
	line-height: 21px;
	outline: none;
	-webkit-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

@media (min-width: 768px) {
	.menu li > a, .menu li > label, .sec-menu li > a, .sec-menu li > label {
		position: relative;
		padding: 0px;
		-webkit-touch-callout: none;
		/* iOS Safari */
		-webkit-user-select: none;
		/* Safari */
		/* Konqueror HTML */
		-moz-user-select: none;
		/* Firefox */
		-ms-user-select: none;
		/* Internet Explorer/Edge */
		user-select: none;
		/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
	}
	.menu li > a:before, .menu li > label:before, .sec-menu li > a:before, .sec-menu li > label:before {
		content: '';
		width: 0px;
		position: absolute;
		height: 3px;
		left: 0;
		bottom: -14px;
		background-color: #3384FF;
		-webkit-transition: width ease-in-out .3s;
		transition: width ease-in-out .3s;
	}
	.menu li > a:hover:before, .menu li > a.active:before, .menu li > label:hover:before, .menu li > label.active:before, .sec-menu li > a:hover:before, .sec-menu li > a.active:before, .sec-menu li > label:hover:before, .sec-menu li > label.active:before {
		width: 100%;
	}
}

.menu li > label:before, .sec-menu li > label:before {
	bottom: 0px;
}

.menu .app-drop-menu-toggle:checked ~ .drawer-menu-icon img, .sec-menu .app-drop-menu-toggle:checked ~ .drawer-menu-icon img {
	-webkit-filter: invert(60%) sepia(59%) saturate(4399%) hue-rotate(197deg) brightness(102%) contrast(103%) !important;
	filter: invert(60%) sepia(59%) saturate(4399%) hue-rotate(197deg) brightness(102%) contrast(103%) !important;
}

.menu .app-drop-menu-toggle:checked ~ .drop-menu, .sec-menu .app-drop-menu-toggle:checked ~ .drop-menu {
	top: 50px !important;
	right: auto !important;
	left: 0;
}

@media (min-width: 768px) {
	.menu .app-drop-menu-toggle:checked ~ .drop-menu:after, .sec-menu .app-drop-menu-toggle:checked ~ .drop-menu:after {
		right: auto;
		left: 20px;
	}
}

.menu li > a, .menu li > label {
	font-weight: 600;
	font-size: 16px;
}

.sec-menu {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 100%;
	flex: 1 1 100%;
	position: relative;
	display: none;
}

@media (min-width: 1200px) {
	.sec-menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: flex-start;
		-webkit-box-pack: start;
		justify-content: flex-start;
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1;
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex: 1;
		margin-right: 60px;
	}
}

/* Menu Toggle CSS functionality */
.app-menu-toggle-icon {
	/* Menu styles */
}

@media (min-width: 768px) {
	.app-menu-toggle-icon {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-flex: 0;
		-ms-flex: 0 1 32px;
		flex: 0 1 32px;
	}
}

.app-menu-toggle-icon .drop-menu {
	width: 100%;
	height: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	visibility: hidden;
	opacity: 1;
	-webkit-transition: height ease .2s, top ease .2s, opacity ease .2s;
	transition: height ease .2s, top ease .2s, opacity ease .2s;
	-webkit-transition-timing-function: cubic-bezier(0, 1.2, 0.8, 1.2);
	transition-timing-function: cubic-bezier(0, 1.2, 0.8, 1.2);
	border-radius: 3px;
}

.app-menu-toggle-icon .drop-menu a {
	color: #fff;
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .drop-menu {
		width: auto;
		position: absolute;
		top: 56px;
		right: 0px;
		height: 0px;
		padding: 20px;
		background-color: #fff;
		-webkit-box-shadow: 0 0 1px rgba(76, 86, 103, 0.25), 0 2px 18px rgba(31, 37, 50, 0.32);
		box-shadow: 0 0 1px rgba(76, 86, 103, 0.25), 0 2px 18px rgba(31, 37, 50, 0.32);
		-webkit-box-flex: 0;
		-ms-flex: 0 0 0px;
		flex: 0 0 0;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		min-width: 0px;
		height: 0px;
		visibility: hidden;
		opacity: 0;
		z-index: 999;
	}
	.app-menu-toggle-icon .drop-menu.icon-grid, .app-menu-toggle-icon .drop-menu.list-grid {
		top: 25px;
	}
	.app-menu-toggle-icon .drop-menu a {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		opacity: 0;
		color: #273450;
	}
}

@media (min-width: 1200px) {
	.app-menu-toggle-icon .drop-menu .on-sec-menu {
		display: none;
	}
}

.app-menu-toggle-icon .drop-menu h3 {
	text-transform: lowercase;
	display: none;
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .drop-menu h3 {
		display: block;
	}
}

.app-menu-toggle-icon .drop-menu h3:first-letter {
	text-transform: uppercase;
}

.app-menu-toggle-icon label {
	-ms-flex-pack: flex-start;
	-webkit-box-pack: start;
	justify-content: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	position: relative;
}

@media screen and (max-width: 767px) {
	.app-menu-toggle-icon label {
		outline: none;
	}
	.app-menu-toggle-icon label:before {
		content: '';
		width: 10px;
		height: 10px;
		border-left: 1.5px solid rgba(255, 255, 255, 0.5);
		border-bottom: 1.5px solid rgba(255, 255, 255, 0.5);
		position: absolute;
		right: 20px;
		top: 18px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		-webkit-transition: -webkit-transform ease .3s;
		transition: -webkit-transform ease .3s;
		transition: transform ease .3s;
		transition: transform ease .3s, -webkit-transform ease .3s;
	}
}

@media (min-width: 768px) {
	.app-menu-toggle-icon label {
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		height: 100%;
		width: auto;
	}
}

.app-menu-toggle-icon .app-drop-menu-toggle {
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
}

@media screen and (max-width: 767px) {
	.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ label {
		background-color: #273450;
	}
	.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ label:before {
		-webkit-transform: rotate(135deg);
		transform: rotate(135deg);
	}
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .tool-tip span {
		bottom: -20px;
		opacity: 0;
		z-index: -1;
	}
}

.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ label img {
	-webkit-filter: invert(60%) sepia(59%) saturate(4399%) hue-rotate(197deg) brightness(102%) contrast(103%);
	filter: invert(60%) sepia(59%) saturate(4399%) hue-rotate(197deg) brightness(102%) contrast(103%);
}

.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	min-width: 200px;
	height: auto;
	min-height: 200px;
	visibility: visible;
	opacity: 1;
	top: 56px;
	background-color: #273450;
}

.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu.icon-grid {
	top: 36px;
}

.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu.list-grid {
	top: 36px;
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu {
		background-color: #fff;
		min-height: 0;
		-webkit-transition: all ease .25s;
		transition: all ease .25s;
	}
}

.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu:not(.icon-grid) {
	margin-top: -5px;
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu:not(.icon-grid) {
		margin-top: 0;
		padding: 20px 20px 15px;
	}
}

.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu a {
	opacity: 1;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.app-menu-toggle-icon .icon-grid {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .icon-grid {
		-ms-flex-pack: flex-start;
		-webkit-box-pack: start;
		justify-content: flex-start;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-flow: row wrap;
		flex-flow: row wrap;
		-webkit-touch-callout: none;
		/* iOS Safari */
		-webkit-user-select: none;
		/* Safari */
		/* Konqueror HTML */
		-moz-user-select: none;
		/* Firefox */
		-ms-user-select: none;
		/* Internet Explorer/Edge */
		user-select: none;
		/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
		width: 484px;
	}
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .icon-grid h3 {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}
}

.app-menu-toggle-icon .icon-grid a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	display: -webkit-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 10px 15px 63px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.app-menu-toggle-icon .icon-grid a img {
	display: none;
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .icon-grid a {
		margin: 0;
		border-bottom: none;
		-ms-flex-pack: center;
		-webkit-box-pack: center;
		justify-content: center;
		-ms-flex-align: center;
		-webkit-box-align: center;
		align-items: center;
		width: 33%;
		padding: 15px 3px;
		border-radius: 3px;
		-webkit-box-shadow: 0 0 0px rgba(0, 0, 0, 0);
		box-shadow: 0 0 0px rgba(0, 0, 0, 0);
		-webkit-transition: -webkit-box-shadow ease-out .3s;
		transition: -webkit-box-shadow ease-out .3s;
		transition: box-shadow ease-out .3s;
		transition: box-shadow ease-out .3s, -webkit-box-shadow ease-out .3s;
		-ms-flex-pack: space-between;
		-webkit-box-pack: justify;
		justify-content: space-between;
	}
	.app-menu-toggle-icon .icon-grid a img {
		width: auto;
		height: 36px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.app-menu-toggle-icon .icon-grid a.part-count i {
		width: auto;
		height: 36px;
		display: flex;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.app-menu-toggle-icon .icon-grid a.part-count i svg {
		stroke: var(--bp-blue);
	}
	.app-menu-toggle-icon .icon-grid a span {
		display: inline-block;
		text-align: center;
		margin-bottom: 0;
		margin-top: auto;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		min-height: 32px;
	}
	.app-menu-toggle-icon .icon-grid a:hover {
		-webkit-box-shadow: 0 0 1px rgba(76, 86, 103, 0.25), 0 2px 18px rgba(31, 37, 50, 0.32);
		box-shadow: 0 0 1px rgba(76, 86, 103, 0.25), 0 2px 18px rgba(31, 37, 50, 0.32);
	}
}

.app-menu-toggle-icon .list-grid {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-touch-callout: none;
	/* iOS Safari */
	-webkit-user-select: none;
	/* Safari */
	/* Konqueror HTML */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* Internet Explorer/Edge */
	user-select: none;
	/* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.app-menu-toggle-icon .list-grid a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column nowrap;
	flex-flow: column nowrap;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 15px 10px 15px 63px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	-webkit-transition: color ease-in-out .2s;
	transition: color ease-in-out .2s;
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .list-grid a {
		padding: 0;
		margin: 10px 0;
		border-bottom: none;
	}
}

.app-menu-toggle-icon .list-grid a:hover, .app-menu-toggle-icon .list-grid a.active {
	color: #3384FF;
}

.app-menu-toggle-icon .list-grid a span {
	display: inline-block;
}

.app-menu-toggle-icon .list-grid img {
	display: none;
}

.app-menu-toggle-icon .user-info {
	border: 1px solid #DEEBFF;
	margin: 10px auto;
	min-width: 287px;
	border-radius: 3px;
	padding: 20px;
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .user-info {
		border: none;
		margin-top: 0;
		margin-left: 0;
		margin-right: auto;
		min-width: 0;
		padding: 0;
	}
}

.app-menu-toggle-icon .user-info .user-name {
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 5px;
	color: #fff;
}
.app-menu-toggle-icon .user-info .user-name.bp-set-text-ellipses {
	width: 150px;
}
@media (min-width: 768px) {
	.app-menu-toggle-icon .user-info .user-name {
		color: #273450;
	}
}

.app-menu-toggle-icon .user-info .user-co {
	padding-bottom: 5px;
	color: #fff;
}

@media (min-width: 768px) {
	.app-menu-toggle-icon .user-info .user-co {
		color: #273450;
	}
}

.app-menu-toggle-icon .user-info .user-type {
	font-weight: 600;
	color: #FF9920;
}

.app-menu-toggle-icon .log-out {
	text-decoration: underline;
	font-weight: 600;
	font-size: 18px;
}

.app-menu-toggle-icon a, .app-menu-toggle-icon label, .app-menu-toggle-icon button {
	outline: none;
}

/*
 * MAIN AND SECONDARY MENU SPACING RULES
*/
.app-main-nav {
	-ms-flex-pack: flex-start;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

@media (min-width: 768px) {
	.app-main-nav {
		margin-right: 60px;
	}
}

@media (min-width: 1366px) {
	.app-main-nav {
		margin-right: 90px;
	}
}

.app-main-nav .menu {
	-ms-flex-pack: flex-start;
	-webkit-box-pack: start;
	justify-content: flex-start;
}

@media (min-width: 768px) {
	.app-global-header .menu li:not(:first-child), .app-global-header .sec-menu li:not(:first-child) {
		margin-left: 20px;
	}
}

@media (min-width: 1366px) {
	.app-global-header .menu li:not(:first-child), .app-global-header .sec-menu li:not(:first-child) {
		margin-left: 30px;
	}
}

.app-global-header.debug .app-main-nav {
	background-color: ligthen(#273450, 10%);
}

.app-global-header.debug .app-secondary-nav {
	background-color: ligthen(#273450, 20%);
}

.app-global-header.debug .app-add-menu {
	background-color: ligthen(#273450, 25%);
}

.app-global-header.debug .app-search-form {
	background-color: ligthen(#273450, 30%);
}

.app-global-header.debug .app-setting-nav {
	background-color: ligthen(#273450, 35%);
}

@media screen and (max-width: 767px) {
	.app-menu-toggle-icon.has-icon label {
		padding: 12px 20px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	}
	.app-menu-toggle-icon.has-icon label:before {
		top: 14px;
	}
	.app-menu-toggle-icon.has-icon label span {
		color: #fff;
		font-size: 18px;
		font-weight: 600;
		margin-left: 20px;
	}
	.app-menu-toggle-icon.has-icon .app-drop-menu-toggle:checked ~ label {
		border-bottom: none;
	}
	.app-menu-toggle-icon.has-icon .app-drop-menu-toggle:checked ~ label:before {
		top: 20px;
	}
	.app-menu-toggle-icon.has-icon .app-drop-menu-toggle:checked ~ .drop-menu {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		padding: 0;
	}
}

@media (min-width: 768px) {
	.app-menu-toggle-icon:not(.has-icon) label {
		position: relative;
		padding-right: 16px;
	}
	.app-menu-toggle-icon:not(.has-icon) label.OrderSubMenu {
		margin: 0;
	}
	.app-menu-toggle-icon:not(.has-icon) label:after {
		top: 50%;
		right: 0px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 4px;
		margin-left: -4px;
	}
	.app-menu-toggle-icon:not(.has-icon) .app-drop-menu-toggle:checked ~ label:before {
		width: 100%;
	}
	.app-menu-toggle-icon.has-icon.show-arrow label {
		position: relative;
		padding-right: 16px;
	}
	.app-menu-toggle-icon.has-icon.show-arrow label:after {
		top: 50%;
		right: 0px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0);
		border-top-color: #fff;
		border-width: 4px;
		margin-left: -4px;
	}
	.app-menu-toggle-icon.has-icon .app-drop-menu-toggle:checked ~ label {
		background-color: var(--darkest-grey);
		border-radius: 4px;
	}
	.app-menu-toggle-icon.has-icon .app-drop-menu-toggle:checked ~ label:after {
		border-top-color: #3384FF;
	}
	.app-menu-toggle-icon.has-icon label {
		position: relative;
		-webkit-backface-visibility: hidden;
	}
	.app-menu-toggle-icon.has-icon label:before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 98;
		background-color: transparent;
		top: 0;
		left: 0;
	}
	.app-menu-toggle-icon.has-icon label img {
		-webkit-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(102%) contrast(103%);
		filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(197deg) brightness(102%) contrast(103%);
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
	}
	.app-menu-toggle-icon.has-icon label:hover img {
		-webkit-filter: invert(60%) sepia(59%) saturate(4399%) hue-rotate(197deg) brightness(102%) contrast(103%);
		filter: invert(60%) sepia(59%) saturate(4399%) hue-rotate(197deg) brightness(102%) contrast(103%);
	}
}

.bold {
	font-weight: 600;
}

.hide {
	display: none;
}

.search-field .BP-New-Header-Keyword-Container .BP-New-Header-keyword {
	border-radius: 4px;
	background-color: var(--bp-blue-light);
	float: left;
	height: 24px;
	margin: 3px 0 5px 12px;
	color: var(--dark-grey1);
	font-size: 14px;
	line-height: 15px;
	padding: 3.5px 22px 3.5px 16px;
	position: relative;
}

.search-field .BP-New-Header-Keyword-Container .BP-New-Header-keyword .BP-New-Header-Remove_Btn {
	width: 7px;
	cursor: pointer;
	position: absolute;
	top: 3px;
	right: 7px;
}

.search-field .BP-New-Header-Keyword-Container .BP-New-Header-keyword .BP-New-Header-Remove_Btn svg {
	stroke: var(--dark-grey1) !important;
}

.BP-Global-Search-Dropdown {
	width: 600px;
	right: 0;
	margin-top: calc(60px - 7px);
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	position: absolute;
	z-index: 1000;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
	min-width: 500px;
}

/*
*
*/
.dummy-height {
	margin-top: 50px;
	height: 3000px;
}

.tool-tip.on-top.icon {
	display: none;
}

@media (min-width: 768px) {
	.tool-tip {
		position: relative;
	}
	.tool-tip span {
		position: absolute;
		opacity: 0;
		z-index: -1;
		bottom: 0;
		background-color: #0A1B38;
		padding: 6px 8px;
		white-space: nowrap;
		display: inline-block;
		color: #fff;
		border-radius: 4px;
		-webkit-transition: bottom ease .5s, opacity ease .5s, z-index ease 0.02s;
		transition: bottom ease .5s, opacity ease .5s, z-index ease 0.02s;
		font-size: 13px;
		text-align: center;
		visibility: hidden;
	}
	.tool-tip span:after {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: #0A1B38;
		border-width: 6px;
		margin-left: -6px;
	}
}

@media (min-width: 768px) and (min-width: 768px) {
	.tool-tip:hover span {
		opacity: 1;
		z-index: 9999;
		bottom: -47px;
		-webkit-transition: all ease .3s .5s;
		transition: all ease .3s .5s;
		visibility: visible;
	}
}

.app-menu-toggle-icon .OrderSubMenu {
	margin: 0;
}

@media (min-width: 768px) {
	.tool-tip.right-zero:hover span {
		right: 0;
		bottom: -45px;
	}
	.tool-tip.business-name-tooltip:hover span {
		bottom: -60px;
	}
	.tool-tip.right-zero:hover span:after {
		left: auto;
		right: 20px;
	}
	.tool-tip.on-top.icon {
		display: inline-block;
	}
	.tool-tip.on-top.icon span {
		bottom: auto;
		top: -100%;
		right: -1px;
	}
	.tool-tip.on-top.icon span:after {
		bottom: auto;
		top: 100%;
		left: auto;
		right: 7px;
		border: solid transparent;
		position: absolute;
		pointer-events: none;
		border-top-color: #0A1B38;
		border-width: 6px;
		margin-left: -6px;
	}
	.tool-tip.on-top.icon:hover span {
		top: -200%;
	}
}

.tool-tip a span {
	display: inline-block;
	text-transform: lowercase;
}

.tool-tip a span:first-letter, .tool-tip a span::first-letter {
	text-transform: uppercase;
}

@media (min-width: 768px) {
	a.tool-tip:hover span {
		bottom: -36px;
	}
}

/*override rules for new header*/
.app-global-header a, .app-global-header label, .app-global-header button, .app-global-header input {
	outline: none;
	text-decoration: none;
}

/*
* New Global Header Styling : Ends here
*/
/* Start: Global search existing CSS */
.app-global-header .BP_GlobalSearch_angucomplete-dropdown {
	width: 600px;
	margin-top: 0;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	position: absolute;
	z-index: 100;
	-webkit-transition: all 0.7s;
	transition: all 0.7s;
	min-width: 500px;
	right: 0;
	top: 50px;
	-webkit-transition: opacity ease .2s,height ease .2s .3s,top ease .2s .2s;
	transition: opacity ease .2s,height ease .2s .3s,top ease .2s .2s;
}

.app-global-header .BP_GlobalSearch_angucomplete-row {
	height: 61px;
	cursor: pointer;
	border-left: 2px solid transparent;
}

.app-global-header .BP_GlobalSearch_angucomplete-loading-row {
	height: 61px;
}

.app-global-header .BP_GlobalSearch_angucomplete-row:hover,
.app-global-header .BP_GlobalSearch_angucomplete-row:active,
.app-global-header .BP_GlobalSearch_angucomplete-row:focus,
.app-global-header .BP_angucomplete-selected-row {
	background-color: #F6F7F9;
	border-left-color: var(--bp-blue);
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.app-global-header .BP_GlobalSearch_empty-td-left {
	width: 4.8%;
}

.app-global-header .BP_GlobalSearch_icon-td {
	width: 40px;
}

.app-global-header .BP_GlobalSearch_empty-td-right {
	width: 3.5%;
}

.app-global-header .BP_GlobalSearch_data-td {
	width: calc( 100% - (4.8% + 40px + 20% + 3.5%));
}

.app-global-header .BP_GlobalSearch_type-td {
	width: 20%;
}

.app-global-header .BP_GlobalSearch_entity-icon-td {
	height: 40px;
	width: 40px;
	border-radius: 4px;
	float: left;
}

.app-global-header .BP_GlobalSearch_entity-icon-BGBlue {
	background-color: var(--bp-blue);
}

.app-global-header .BP_GlobalSearch_entity-icon-BGWhite {
	background-color: #FFF;
}

.app-global-header .BP_GlobalSearch_entity-icon-BGGrey {
	background-color: #EEEEEE;
}

.app-global-header .BP_GlobalSearch_entity-icon {
	margin: 8px;
}

i.app-global-header .BP_GlobalSearch_entity-icon svg {
	padding-top: 8px;
}

.app-global-header .BP_GlobalSearch_content-div {
	float: left;
	width: 100%;
	padding-left: 3.026%;
}

.app-global-header .BP_GlobalSearch_loading-content-div {
	height: 10px;
	width: 83.005%;
	background-color: #EEEEEE;
	margin-left: 19px;
}

.app-global-header .BP_GlobalSearch_loading-animated-background {
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	        animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
	-webkit-animation-name: placeHolderShimmer;
	        animation-name: placeHolderShimmer;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
	background: var(--light-grey1);
	background: -webkit-gradient(linear, left top, right top, color-stop(8%, var(--light-grey1)), color-stop(18%, #EEEEEE), color-stop(33%, var(--light-grey1)));
	background: linear-gradient(to right, var(--light-grey1) 8%, #EEEEEE 18%, var(--light-grey1) 33%);
	background-size: 800px 104px;
	position: relative;
}

.app-global-header .BP_GlobalSearch_content-header {
	width: 100%;
	float: left;
	font-size: 16px;
	line-height: 22px;
	color: var(--bp-blue);
}

.app-global-header .BP_GlobalSearch_content-data {
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 19px;
	color: var(--dark-grey1);
	word-wrap: break-word;
}

.app-global-header .BP_GlobalSearch_StatusCotainer {
	float: left;
	width: 100%;
}

.app-global-header .BP_GlobalSearch_content-status {
	float: left;
	width: 100%;
	color: var(--dark-grey1);
	font-size: 14px;
	font-weight: 300;
	line-height: 19px;
}

.app-global-header .BP_GlobalSearch_content-type {
	float: left;
	width: 100%;
	color: var(--dark-grey1);
	font-size: 14px;
	font-style: italic;
	line-height: 19px;
}

.app-global-header .BP_GlobalSearch_content-type-MB-3 {
	margin-bottom: -3px;
}

.app-global-header .BP_GlobalSearch_content-type-MB10 {
	margin-bottom: 10px;
}

.app-global-header .table-cell_align-bottom {
	vertical-align: bottom;
}

.app-global-header .BP_angucomplete-row-NoResults {
	height: 80px;
}

.app-global-header .BP_angucomplete-row-NoResults-Msg {
	height: 22px;
	color: var(--grey);
	font-size: 16px;
	font-style: italic;
	line-height: 22px;
}

.app-global-header .BP_angucomplete-row-MoreResults {
	height: 76.5px;
}

.app-global-header .BP_angucomplete-row-MoreResults:hover,
.app-global-header .BP_angucomplete-row-MoreResults:focus,
.app-global-header .BP_angucomplete-row-MoreResults:active,
.app-global-header .BP_angucomplete-selected-row-MoreResults {
	cursor: pointer;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.app-global-header .BP_angucomplete-row-MoreResults:hover a,
.app-global-header .BP_angucomplete-row-MoreResults:focus a,
.app-global-header .BP_angucomplete-row-MoreResults:active a,
.app-global-header .BP_angucomplete-selected-row-link,
.app-global-header .BP_angucomplete-row-AdvanceSearch-div:hover,
.app-global-header .BP_angucomplete-row-AdvanceSearch-div:focus,
.app-global-header .BP_angucomplete-row-AdvanceSearch-div:active {
	text-decoration: underline;
}

.app-global-header .BP_GlobalSearch_MoreResults-link,
.app-global-header .BP_GlobalSearch_MoreResults-link:focus,
.app-global-header .BP_GlobalSearch_MoreResults-link:hover,
.app-global-header .BP_GlobalSearch_MoreResults-link:active {
	color: var(--bp-blue);
	font-size: 16px;
	line-height: 22px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.app-global-header .BP_angucomplete-row-AdvanceSearch {
	height: 85.5px;
}

.app-global-header .BP_angucomplete-row-AdvanceSearch-large {
	height: 111px;
}

.app-global-header .BP_angucomplete-row-AdvanceSearch-div {
	height: 85.5px;
	border-top: 1px solid #DCDCDC;
	padding-left: 4.08%;
	line-height: 85.5px;
	cursor: pointer;
}

.app-global-header .BP_angucomplete-row-AdvanceSearch-div:hover,
.app-global-header .BP_angucomplete-row-AdvanceSearch-div:focus,
.app-global-header .BP_angucomplete-row-AdvanceSearch-div:active,
.app-global-header .BP_angucomplete-selected-row-AdvanceSearch {
	background-color: #F6F7F9;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.app-global-header .BP_angucomplete-row-AdvanceSearch-div-large {
	height: 111px;
	margin-top: 25.5px;
	line-height: 111px;
}

.app-global-header .BP_GlobalSearch_AdvanceSearch-link,
.app-global-header .BP_GlobalSearch_AdvanceSearch-link:focus,
.app-global-header .BP_GlobalSearch_AdvanceSearch-link:hover,
.app-global-header .BP_GlobalSearch_AdvanceSearch-link:active {
	color: var(--dark-grey1);
	font-size: 16px;
	font-weight: 600;
	line-height: 22px;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.app-global-header .BP_GlobalSearch_keyword-header {
	color: var(--dark-grey1);
}

.app-global-header .BP_GlobalSearch_KeywordContainer {
	width: auto;
	position: absolute;
	top: 50px;
	z-index: 100;
}

.app-global-header .BP_GlobalSearch_keyword_RemoveBtn {
	width: 10px;
	margin-left: 7px;
	margin: -2px 0 0 7px;
	cursor: pointer;
}

.app-global-header .BP_GlobalSearch_Keyword {
	border-radius: 40px;
	background-color: #DDF3FB;
	float: left;
	height: 29px;
	/* margin: 6px 0px 6px 12px; */
	color: var(--dark-grey1);
	font-size: 12px;
	line-height: 17px;
	padding: 6px 11px;
}

@media screen and (min-width: 768px) {
	.globalSearchWrapperContainer.active {
		position: absolute;
		height: 34px;
		width: 600px;
		right: 0;
		background: transparent;
	}
}

.app-global-header .BP_GlobalSearch_angucomplete-dropdown-top {
	/* top: 84px; */
}

.app-global-header .drop-menu.add-menu-items.icon-grid h3 {
	margin: 0;
}

.app-global-header .drop-menu.drawer-menu.icon-grid h3 {
	margin: 0;
}

@media (max-device-width: 768px) {
	.app-search-form .search-field.active .search-button {
		left: -400px;
	}
	.app-search-form .search-input[type=search] {
		padding: 12px 15px;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
	#globalSearchStrInput {
		height: 34px;
		margin: 0px;
		padding-left: 15px;
	}
	.app-global-header .BP_GlobalSearch_Keyword span {
		float: left;
	}
	.app-global-header .BP_GlobalSearch_Keyword {
		margin-top: 6px;
	}
}

@media (max-device-width: 768px) {
	.app-global-header ::-webkit-scrollbar-button {
		background-color: #091E42;
	}
	.app-global-header ::-webkit-scrollbar-track-piece {
		background: #091E42;
	}
	.app-global-header ::-webkit-scrollbar-thumb {
		background: #091E42;
		border: none;
	}
}

/* End: Global search existing CSS */
/* Over ride rules for BP App*/
.app-global-header .sec-menu {
	margin-right: 20px;
	margin-left: auto;
}

@media (min-width: 768px) and (max-width: 902px) {
	.app-menu-toggle-icon .app-drop-menu-toggle:checked ~ .drop-menu {
		right: -50px;
	}
	.app-menu-toggle-icon input#AppDrawer:checked ~ .drop-menu {
		right: -140px;
	}
}

.disabld-nav-bar-action {
	pointer-events: none;
}

.disabld-nav-bar-action img, .disabld-nav-bar-action span, .disabld-nav-bar-action {
	opacity: .5;   
}
.app-search-form .search-field.active .close-overlay {
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 1;
	-webkit-transition: opacity ease .2s;
	transition: opacity ease .2s;
	
}  
.app-search-form .search-field.active .search-button {
	position: absolute;
	z-index: 100;
	right: auto;
	left: auto;
	top: -2px;
}
/*# sourceMappingURL=scss/maps/BPHeader.css.map */ 
@media screen and (max-width: 767px) {
	.app-global-header .nav-container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		display: -webkit-flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-flow: column nowrap;
		flex-flow: column nowrap;
		-ms-flex-pack: flex-start;
		-webkit-box-pack: start;
		justify-content: flex-start;
		width: 100%;
		position: fixed;
		margin-top: 50px;
		top: -100%;
		overflow-y: scroll;
		overflow-x: hidden;
		opacity: 0;
		-webkit-transition: top ease-in-out .5s, opacity ease .2s;
		transition: top ease-in-out .5s, opacity ease .2s;
		-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
		background-color: #091E42;
		padding-bottom: 51px;
	}
	.app-global-header .nav-container > nav, .app-global-header .nav-container > form {
		opacity: 0;
		-webkit-transition: opacity .5s ease .3s;
		transition: opacity .5s ease .3s;
	}
	.app-search-form .search-field.active .search-button {
		top: 0px !important;
	}
	.app-search-form .search-field.active .close-overlay {
		background-color: transparent;
	}
	.app-search-form .search-input[type=search] {
		padding-top: 11px;
	}
	.BP_GlobalSearch_angucomplete-dropdown {
		width: 100% !important;
		max-width: none !important;
		min-width: 180px !important;
	}
}
@supports (-webkit-overflow-scrolling: touch) { 
	.app-setting-nav .icon-menu li:not(.app-menu-toggle-icon) {
		display: flex;
		flex: 0 1 100%;
	}
	.app-setting-nav .icon-menu li:not(.app-menu-toggle-icon) a {
		flex: 0 1 100%;
	}

}
/*
* Firefox related issue only
*/
@-moz-document url-prefix() {
	.app-search-form {
	max-width: 250px !important;
	}
	.app-search-form .search-field.active .search-input[type="search"] {
		height: 34px;
	}
	.app-search-form .search-button, .app-search-form .search-field.active .search-button {
		top:6px;
	}
	.search-field .BP-New-Header-Keyword-Container .BP-New-Header-keyword {
		margin-top:5px;
	}
	@media screen and (max-width: 767px) {
		.app-global-header .BP_GlobalSearch_angucomplete-dropdown {
			width: 100%;
			min-width: auto;
		} 
		.app-search-form {
			max-width: inherit !important;
		}
		.app-search-form .search-button, .app-search-form .search-field.active .search-button {
			top:10px !important;
		}
		.app-search-form .search-field.active .search-input[type="search"] {
			height: auto;
		}
	}
	
	}